/* @media only screen and (max-width: 575px) {
   

    .navbar-brand {
        margin-right: 0;
    }

    .call-to-action .navbar-text {
        margin-right: auto !important;
    }
} */

@media screen and (max-width: 991px) and (min-width: 768px) {
  .menu-nav .nav-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .footer-link{
    display: none;
  }

  .about-image {
    width: 100%;
    padding: 20px 0;
  }


}

@media screen and (max-width: 767px) {
  .call-to-action .navbar-text {
    margin-right: auto;
  }

  .footer-sitemap {
    display: flex;
  }

  .footer-sitemap ul {
    padding-left: 3.2rem;
  }

  .footer-right {
    display: flex;
    justify-content: center;
  }
  .sidebar {
    margin: 0 90px;
  }

  .social {
    text-align: center;
    margin: 10px auto 20px;
  }
  .footer-widget {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .navbar-brand {
    width: 75%;
  }
  .header-logo {
    max-width: 80%;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
  }

  /* About Page */
  .about-image {
    width: 100%;
  }
}
